//Main game stuff will be here
extends layout

block content
    #gameInterface.fluidContainer
        ul#displays.list-inline
            li
                h2#locationDisplay.text-info
            li
                h2#xpDisplay.text-success
        #storyWell.well.well-lg
        p INPUT
            input#userInput.well-sm(type='text')