//Main game stuff will be here
extends layout

block content
    #gameInterface.fluidContainer
        h2#locationDisplay.text-info.col-md-8
        ul#displays.list-inline.col-md-4
            li
                h2#xpDisplay.text-success
            li
                h2#levelDisplay.text-warning
        #storyWell.well.well-lg
        p.col-md-8 INPUT
            input#userInput.well-sm(type='text')
            #saveBtn.btn.btn-success.btn-lg.pull-right.col-md-2 SAVE
            #loadBtn.btn.btn-warning.btn-lg.pull-right.col-md-2 LOAD
    audio#fight(src="./audio/subbossTheme.m4a" loop)