doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://bootswatch.com/slate/bootstrap.min.css')
    script(src='/scripts/jquery-1.11.3.min.js')
    script(src='/scripts/gameLogic.js')
  body
    block content
